/* Start Offer */
.offer-content
{
    overflow: hidden;
}
.offer-item
{
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 30px 15px 30px 70px;
    position: relative;
}
.offer-item.mg
{
    margin: 0 5%;
}
.offer-item .icon
{
    position: absolute;
    left: 10px;
    top: 35px;
    color: var(--maincolor);
}
.offer-item .offer-item-title
{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: 0.5s color;
}
.offer-item-desc
{
    color: #999;
    margin-bottom: 15px;
}
.offer-item:hover .offer-item-title
{
    color: #fff;
}
@media screen and (max-width:576px) 
{
    .offer-item
    {
        width: 100%;
    }
    .offer-item.mg
    {
        margin: 0 0 20px 0;
    }
}
@media screen and (min-width:577px) and (max-width:768px)
{
    .offer-item
    {
        width: 100%;
        margin-bottom: 20px;
    }
    .offer-item.mg
    {
        margin: 0 0 20px 0;
    }
}
@media screen and (min-width:769px) and (max-width:992px)
{
    .offer-item
    {
        width: 48%;
        margin: 0 2% 2% 0;
    }
    .offer-item.mg
    {
        margin: 0 2% 2% 0;
    }
}
/* End Offer */